body {
  background-image: url(https://uploads-ssl.webflow.com/5f7574b…/5f805d0…_grid%20blue.svg);
  color: #fff;
  background-clip: border-box;
  background-color: #471aff;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
